/* Hero Value */
.hero-value {
  overflow: hidden;
  background-color: #fff;
  padding-bottom: 56px;
  margin-bottom: 13px;
}

.hero-value__container {
  align-items: center;
}

.hero-value__image {
  width: 361px;
  height: 376px;
  background-image: url(../images/about/cupcakes_box_hero_small.png);
  background-size: 361px 376px;
  background-repeat: no-repeat;
  margin-right: -20px;
}

.hero-value .section__text {
  max-width: 300px;
}

.hero-value .subtitle {
  max-width: 282px;
}

@media screen and (min-width: 500px) {
  .hero-value .section__text {
    max-width: 461px;
  }

  .hero-value .section__info {
    max-width: 342px;
  }
}

@media screen and (min-width: 768px) {
  .hero-value__container {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-value .section__text {
    margin-left: initial;
    margin-right: initial;
    max-width: 300px;
    margin-top: initial;
  }

  .hero-value__image__container {
    margin-right: 60.5px;
    margin-top: 41px;
  }
}

@media screen and (min-width: 1068px) {
  .hero-value__container {
    max-width: 1056px;
  }

  .hero-value__image__container {
    margin-right: 121px;
    margin-top: 52px;
  }

  .hero-value__image {
    width: 456px;
    height: 458px;
    background-image: url(../images/about/cupcakes_box_hero_large.png);
    background-size: 456px 458px;
  }

  .hero-value .section__text {
    max-width: 480px;
  }
}

/* Customer Respect */
.customer-respect {
  text-align: center;
  background-color: #cadfdf;
  overflow: hidden;
  margin-bottom: 13px;
}

.customer-respect__container {
  align-items: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.customer-respect__text {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.customer-respect__above-title {
  margin-bottom: 16px;
}

.customer-respect__title {
  margin-bottom: 34px;
}

.customer-respect__info {
  margin-bottom: 23px;
}

.customer-respect .btn {
  padding: 4.5px 16px;
  border-radius: 16px;
  margin-bottom: 20px;
}

.customer-respect__image__container {
  margin-top: 28.5px; /* Plus 4.5px because of .customer-respect .btn */
  margin-left: 3px;
}

.customer-respect__image {
  width: 253px;
  height: 485px;
  background-image: url(../images/about/cupcake_tower_respect_small.png);
  background-size: 253px 485px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .customer-respect__text {
    max-width: 398.32px;
  }

  .customer-respect__info {
    max-width: 279.75px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .customer-respect__container {
    padding-top: 21px;
    padding-bottom: 21px;
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .customer-respect__text {
    margin-left: initial;
    margin-right: initial;
  }

  .customer-respect__image__container {
    margin-top: initial;
    margin-left: initial;
    margin-left: 87px;
  }
}

@media screen and (min-width: 1068px) {
  .customer-respect__container {
    max-width: 836px;
  }

  .customer-respect__image__container {
    margin-left: 174px;
  }

  .customer-respect__image {
    width: 264px;
    height: 486px;
    background-image: url(../images/about/cupcake_tower_respect_large.png);
    background-size: 264px 486px;
  }
}

/* About Us Section */
/* Same margin for every block, so we have one class "about-us__item" for all of them
and then, each variant (background and backgorund white) gets a variant class
(--background and --background-white), so then we can target them, and then each
text block only gets the variant class, since the text in the background block is
different from the text in the background white block */
/* About Us First Topic */
.about-us {
  text-align: center;
  overflow: hidden;
}

.about-us__container {
  padding-top: 49px;
}

.about-us__title {
  margin-bottom: 75px;
}

.about-us__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  overflow: hidden;
}

.about-us__item--background {
  padding-top: 37px;
  padding-bottom: 37px;
  color: #fff;
  justify-content: flex-end;
  max-width: 500px;
  padding-left: 31px; /* Makes the distancing from the 100% width */
}

.about-us__item--background__text {
  max-width: 300px;
}

.about-us__item--background__title {
  margin-bottom: 37px;
  line-height: 1.5;
}

.about-us__item--background .subtitle {
  margin-bottom: 12px;
}

.about-us__company-growth {
  background-image: url(../images/about/company_meeting_small.png);
  background-size: 500px 500px;
  background-repeat: no-repeat;
}

.about-us__item__background-container {
  background-image: linear-gradient(
    to bottom left,
    rgba(29, 29, 31, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  backdrop-filter: blur(5px);
  padding: 32px 32px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
  width: 100%;
} /* The padding of the about-us__item--background is going to take care of the distance */

.about-us__item--white {
  background-color: #fff;
}

.about-us__item--white__container {
  flex-direction: column;
  align-items: center;
}

.about-us__item--white__text {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.about-us__item--white__image__container {
  margin-bottom: 10px;
  margin-top: 16px;
}

.about-us__item--white--vision__image {
  width: 474px;
  height: 180px;
  background-image: url(../images/about/cupcakes_vision_small.png);
  background-size: 474px 180px;
  background-repeat: no-repeat;
}

.about-us__item--white__title {
  margin-top: 22px;
  margin-bottom: 15px;
}

.about-us__item--white .subtitle {
  margin-bottom: 14px;
}

@media screen and (max-width: 370px) {
  .about-us__item--background__title {
    line-height: initial; /* Sets the line height to initial, this way the 
    .about-us__item__background-container doesn't overflow its parent */
  }

  .about-us__item__background-container {
    /* Both this styles are here so the .about-us__item__background-container
    doesn't overflow its parent. padding-top/bottom = 10% of the original padding */
    padding-top: 8.6486486486486px;
    padding-bottom: 8.6486486486486px;
  }

  .about-us__item--background {
    /* Both this styles are here so the .about-us__item__background-container
    doesn't overflow its parent. padding-top/bottom = 10% of the original padding */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-us__item--background__text {
    max-width: 290px;
  }
}

@media screen and (min-width: 500px) {
  .about-us__item--background__text {
    max-width: 471px;
  }

  .about-us__item--background .subtitle {
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__item--background__info {
    max-width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__item--white {
    max-width: 500px;
  }

  .about-us__item--white__text {
    max-width: 400px;
  }
}

/* About Us Second Topic */
.about-us__who-we-are {
  background-image: url(../images/about/computer_working_small.png);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  justify-content: flex-start;
  padding-left: initial;
  padding-right: 31px; /* Pushing the background container to the right side */
}

.about-us__who-we-are .about-us__item__background-container {
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about-us__item--white--mission__image {
  width: 186px;
  height: 206px;
  background-image: url(../images/about/cupcake_our_mission_large_small.png);
  background-size: 186px 206px;
  background-repeat: no-repeat;
}

.about-us__item--white--mission__image__container {
  margin-bottom: initial;
}

/* About Us Desktop Version */
@media screen and (min-width: 768px) {
  .about-us__topics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1302px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    column-gap: 20px;
    grid-template-areas: "first second";
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-us__item {
    margin-left: initial;
    margin-right: initial;
  }

  .about-us__item--white {
    max-width: 641px;
    max-height: 500px;
  }

  .about-us__item--background {
    padding-top: 0;
    padding-right: 44px;
    padding-bottom: 44px;
    padding-left: 0;
    max-width: 641px;
  }

  .about-us__company-growth {
    padding-left: 44px;
    padding-bottom: 44px;
    padding-right: 0;
  }

  .about-us__company-growth {
    background-image: url(../images/about/company_meeting_large.png);
    background-size: 641px 500px;
  }

  .about-us__who-we-are {
    background-image: url(../images/about/computer_working_large.png);
    background-size: 641px 500px;
    grid-area: second;
  }

  .about-us__item__background-container {
    border-top-left-radius: initial;
    align-items: center;
  }

  .about-us__item.about-us__who-we-are .about-us__item__background-container {
    border-top-right-radius: initial;
  }

  .about-us__item--background__text {
    max-width: 524px;
  }

  .about-us__item--background .subtitle {
    max-width: 403px;
    margin-bottom: 30px;
  }

  .about-us__item--background__info {
    max-width: 429px;
  }

  .about-us__item--background__title {
    margin-bottom: 30px;
  }

  .about-us__item--white__text {
    max-width: 360px;
  }
}

@media screen and (min-width: 1068px) {
  .about-us__item--white__text {
    max-width: 500px;
  }

  .about-us__item--white {
    max-height: initial;
  }
}
