/* Contact Us */
.contact-us {
  overflow: hidden;
}

.contact-us__container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.contact-us__text__first {
  color: var(--color-primary);
}

.contact-us__text {
  text-align: center;
}

/* CupCake Showcase */
.cupcake-showcase {
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
  padding-top: 30px;
  scroll-behavior: smooth;
}

.cupcake-showcase::-webkit-scrollbar {
  display: none;
}

.cupcake-showcase__container {
  display: flex;
  position: relative;
}

.cupcake-showcase__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 56px;
}

.cupcake-showcase__item--no-margin .cupcake-showcase__item {
  margin-right: initial;
}

.cupcake-showcase__simple {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_simple.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__premium {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_premium.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__super-premium {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_super_premium.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__deluxe {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_deluxe.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__text {
  width: 126px;
  text-align: center;
}

.cupcake-showcase__text__deluxe {
  box-sizing: content-box;
  width: 115px;
  padding-left: 5.5px;
  padding-right: 5.5px;
}

.cupcake-showcase__button {
  flex-shrink: 0;
  width: 38px;
  height: 100px;
  position: fixed;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.cupcake-showcase__button__arrow {
  display: inline-block;
  width: 11px;
  height: 30px;
  font-size: 20px;
}

.cupcake-showcase__button--left {
  right: initial;
  left: 0;
  border-left: 0;
  border-right: 1px solid #ccc;
}

#button-right {
  transition: opacity calc(var(--speed) + 300ms) calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms);
}

#button-right.button-right--clicked {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms) calc(var(--speed) + 300ms);
}

#button-left {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms) calc(var(--speed) + 300ms);
}

#button-left.button-left--clicked {
  opacity: 1;
  transform: translateY(0);
  transition: opacity calc(var(--speed) + 300ms) calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms);
}
