/* Contact Us */
.contact-us {
  overflow: hidden;
}

.contact-us__container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.contact-us__text__first {
  color: var(--color-primary);
}

.contact-us__text {
  text-align: center;
}

/* CupCake Showcase */
.cupcake-showcase {
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
  padding-top: 30px;
  scroll-behavior: smooth;
}

.cupcake-showcase::-webkit-scrollbar {
  display: none;
}

.cupcake-showcase__container {
  display: flex;
  position: relative;
  align-items: end;
}

.cupcake-showcase__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 56px;
}

.cupcake-showcase__item--no-margin .cupcake-showcase__item {
  margin-right: initial;
}

.cupcake-showcase__simple {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_simple.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__premium {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_premium.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__super-premium {
  width: 50px;
  height: 50px;
  background-image: url(../images/home/choices_cupcake_super_premium.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  margin-bottom: 12px;
}

.cupcake-showcase__deluxe {
  width: 40px;
  height: 40px;
  background-image: url(../images/home/choices_cupcake_deluxe.svg);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-bottom: 14px;
}

.cupcake-showcase__text {
  width: 126px;
  text-align: center;
}

.cupcake-showcase__text__deluxe {
  box-sizing: content-box;
  width: 115px;
  padding-left: 5.5px;
  padding-right: 5.5px;
}

.cupcake-showcase__button {
  flex-shrink: 0;
  width: 38px;
  height: 108px;
  position: sticky;
  margin-left: -38px;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cupcake-showcase__button__arrow {
  display: inline-block;
  width: 11px;
  height: 30px;
  font-size: 20px;
}

.cupcake-showcase__button--left {
  right: initial;
  left: 0;
  border-left: 0;
  border-right: 1px solid #ccc;
}

#button-right {
  transition: opacity calc(var(--speed) + 300ms) calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms);
}

#button-right.button-right--clicked {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms) calc(var(--speed) + 300ms);
}

#button-left {
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms) calc(var(--speed) + 300ms);
}

#button-left.button-left--clicked {
  opacity: 1;
  transform: translateY(0);
  transition: opacity calc(var(--speed) + 300ms) calc(var(--speed) + 300ms),
    transform calc(var(--speed) + 300ms);
}

@media screen and (min-width: 687px) {
  #button-right,
  #button-left {
    display: none;
  }

  .cupcake-showcase__container {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hero Every Kind */
.hero-every-kind {
  overflow: hidden;
  background-color: #fff;
  padding-top: 152px;
}

.hero__image {
  width: 466px;
  height: 218px;
  background-image: url(../images/home/hand_with_cupcake_small.png);
  background-repeat: no-repeat;
  background-size: 466px 218px;
  margin-left: auto;
}

.hero-every-kind .subtitle,
.hero-every-kind .section__info {
  max-width: 282px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 490px) {
  .hero-every-kind .section__title {
    max-width: 300px;
  }
}

@media screen and (min-width: 614px) {
  .hero__image {
    width: 600px;
    height: 294px;
    background-image: url(../images/home/hand_with_cupcake_medium2.png);
    background-size: 600px 294px;
  }
}

@media screen and (min-width: 768px) {
  .hero-every-kind {
    padding-top: 53px;
  }

  .hero__image__container {
    order: 1;
  }

  .hero-every-kind .subtitle,
  .hero-every-kind .section__info {
    margin-right: initial;
    margin-left: initial;
  }

  .hero__image__container {
    align-self: center;
  }

  .hero-every-kind__container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__image {
    width: 540px;
    height: 265px;
    background-image: url(../images/home/hand_with_cupcake_medium.png);
    background-size: 540px 265px;
    margin-right: -180px;
  }
}

@media screen and (min-width: 1058px) {
  .hero-every-kind__container {
    max-width: 980px;
  }

  .section__text {
    align-self: center;
    max-width: 478px;
    margin-left: initial;
  }

  .hero__image {
    width: 800px;
    height: 393px;
    background-image: url(../images/home/hand_with_cupcake_large2.png);
    background-size: 800px 393px;
    margin-right: -266.6666666666667px;
  }
}

@media screen and (min-width: 1332px) {
  .hero-every-kind__container {
    max-width: 1056px;
  }

  .hero__image {
    width: 937px;
    height: 460px;
    background-size: 937px 460px;
    background-image: url(../images/home/hand_with_cupcake_large.png);
    margin-right: -432.8px;
  }
}

/* Anytime Section */
.anytime {
  overflow: hidden;
  background-color: #fff;
  padding-top: 105px;
  padding-bottom: 82px;
}

.anytime__container {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.anytime__image__container {
  align-self: center;
}

.anytime__image {
  width: 289px;
  height: 433px;
  background-image: url(../images/home/cupcakes_falling_anytime_small.png);
  background-size: 289px 433px;
  background-repeat: no-repeat;
}
/* Below we find the styles for the section text of the anytime sections, since we can't reuse the styles from the hero, because we have different
 width and height in all items. Also, here in anytime: the max-width is already set to the section__text in the first
 moment, not only in a media query */
.anytime .section__text {
  max-width: 300px;
}

.anytime .section__info {
  max-width: 282px;
}

@media screen and (min-width: 768px) {
  .anytime .section__text {
    margin-left: initial;
    margin-right: initial;
    align-self: center;
  }

  .anytime__image {
    width: 390px;
    height: 582px;
    background-image: url(../images/home/cupcakes_falling_anytime_medium.png);
    background-size: 390px 582px;
    background-repeat: no-repeat;
    margin-right: 82px;
  }

  .anytime__container {
    justify-content: center;
  }
}

@media screen and (min-width: 1068px) {
  .anytime__image {
    width: 452px;
    height: 674px;
    background-image: url(../images/home/cupcakes_falling_anytime_large.png);
    background-size: 452px 674px;
  }

  .anytime .section__text {
    max-width: 478px;
  }

  .anytime .subtitle {
    max-width: 369px;
  }
}

/* Any Kind / Square Section section */
.square-section {
  text-align: center;
  overflow: hidden;
  margin: 20px 0;
}

.square-section__text {
  margin-top: 33px;
}

.square-section__container {
  flex-direction: column;
  background-color: #fff;
}

.square-section__text {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.anykind__image {
  width: 374px;
  height: 224px;
  background-image: url(../images/home/every_kinds_of_cupcake_small.png);
  background-size: 374px 224px;
  background-repeat: no-repeat;
  margin-top: 35px;
}

.square-section__image__container {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .anykind {
    margin-top: 84px;
  }

  .square-section {
    padding: 0 20px;
    margin-bottom: 151px;
  }

  .square-section__container {
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1068px) {
  .square-section__text {
    max-width: 606px;
  }

  .anykind__image {
    width: 593px;
    height: 355px;
    background-image: url(../images/home/every_kinds_of_cupcake_large.png);
    background-size: 593px 355px;
    background-repeat: no-repeat;
  }

  .square-section__container {
    max-width: 1304px;
  }
}

/* Try Them Out Section */
.try-them-out__image {
  width: 439px;
  height: 150px;
  background-image: url(../images/home/cupcakes_subscription_small.png);
  background-size: 439px 150px;
  background-repeat: no-repeat;
  margin-top: 76px;
}

.try-them-out .square-section__text {
  max-width: 300px;
}

@media screen and (min-width: 500px) {
  .try-them-out .square-section__text {
    max-width: 350px;
  }
}

@media screen and (min-width: 1068px) {
  .try-them-out__image {
    width: 664px;
    height: 256px;
    background-image: url(../images/home/cupcakes_subscription_large.png);
    background-size: 664px 256px;
    margin-top: 84px;
  }

  .try-them-out .square-section__text {
    max-width: 552px;
  }

  .try-them-out .square-section__info {
    max-width: 456px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Subscription */
.subscription {
  overflow: hidden;
  margin-bottom: 28px;
}

.subscription .section__text {
  max-width: 300px;
}

.subscription__image {
  width: 371px;
  height: 288px;
  background-image: url(../images/home/cupcake_with_cookies_try_small.png);
  background-size: 371px 288px;
  background-repeat: no-repeat;
}

.subscription__image__container {
  align-self: center;
}

@media screen and (min-width: 500px) {
  .subscription .section__text {
    max-width: 419px;
  }
}

@media screen and (min-width: 768px) {
  .subscription .section__text {
    margin-left: initial;
    margin-right: initial;
    margin-left: 66px;
    max-width: 350px;
  }

  .subscription__container {
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .subscription {
    margin-bottom: 146px;
  }

  .subscription__container {
    max-width: 1321px;
    margin-left: auto;
    margin-right: auto;
  }

  .subscription .section__text {
    max-width: 478px;
  }

  .subscription .subtitle,
  .subscription .section__info {
    max-width: 369px;
  }

  .subscription__image {
    width: 777px;
    height: 561px;
    background-image: url(../images/home/cupcake_with_cookies_try_large.png);
    background-size: 777px 561px;
  }
}

/* Order With Us */
.order-with-us {
  color: #fff;
  text-align: center;
  margin-bottom: 43px;
}

.order-with-us__container {
  background-image: url(../images/home/background_choose_us.svg);
  background-size: 951px 534px;
  background-position: -300px 0;
  background-repeat: no-repeat;
  padding: 83px 0;
}

.order-with-us__text {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;
}

.order-with-us__title {
  margin-bottom: 18px;
}

.order-with-us__info {
  margin-bottom: 31px;
}

@media screen and (min-width: 500px) {
  .order-with-us__container {
    background-position: -138px 0;
  }

  .order-with-us__text {
    max-width: 456px;
  }
}

@media screen and (min-width: 585px) {
  .order-with-us__container {
    background-position: 0 0;
  }
}

@media screen and (min-width: 768px) {
  .order-with-us {
    padding: 0 20px;
    margin-bottom: 79px;
  }

  .order-with-us__container {
    background-size: 1829px 1029px;
    background-position: -500px 0;
    max-width: 776px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1068px) {
  .order-with-us__container {
    max-width: 1304px;
    background-position: -150px 0;
    padding: 122px 0;
  }

  .order-with-us__text {
    max-width: 552px;
  }

  .order-with-us__info {
    max-width: 456px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1304px) {
  .order-with-us__container {
    background-position: -32px 0;
  }
}
