/* Brand New Section */
.brand-new {
  padding-top: 12px;
  padding-bottom: 12px;
}

.brand-new__text {
  text-align: center;
}

.brand-new__text a {
  color: var(--color-primary);
}

.brand-new__text a:hover {
  text-decoration: underline;
}

/* Hero Ingredients Section */
.hero-ingredients {
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  padding-top: 39px;
  padding-bottom: 31px;
}

.hero-ingredients__container {
  align-items: center;
}

.hero-ingredients__text-other {
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin-top: -44.1px;
}

.hero-ingredients .btn {
  padding: 4.5px 16px;
  border-radius: 16px;
  margin-bottom: 17px;
}

.hero-ingredients__title-image {
  width: 325px;
  height: 324.91px;
  background-image: url(../images/product/hero_title_small.svg);
  background-size: 325px 324.91px;
  background-repeat: no-repeat;
}

.hero-ingredients__text {
  flex-direction: column;
  align-items: center;
}

.hero-ingredients .subtitle {
  margin-bottom: 16px;
}

.hero-ingredients__info {
  max-width: 255px;
  margin-bottom: 22px;
}

.hero-ingredients__image__container {
  margin-top: 31px;
}

.hero-ingredients__image {
  width: 226px;
  height: 315px;
  background-image: url(../images/product/cupcake_hero_product_page_small.png);
  background-size: 226px 315px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .hero-ingredients__text-other {
    max-width: 311px;
  }
}

@media screen and (min-width: 768px) {
  .hero-ingredients {
    padding-bottom: 52px;
  }

  .hero-ingredients__container {
    justify-content: center;
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-ingredients__text {
    margin-right: 19px;
  }

  .hero-ingredients__text-other {
    max-width: 351px;
  }

  .hero-ingredients__title-image {
    width: 419px;
    height: 292.59px;
    background-image: url(../images/product/hero_title_large.svg);
    background-size: 419px 292.59px;
  }

  .hero-ingredients__image {
    width: 320px;
    height: 447px;
    background-image: url(../images/product/cupcake_hero_product_page_medium.png);
    background-size: 320px 447px;
  }

  .hero-ingredients__info {
    max-width: 297px;
  }
}

@media screen and (min-width: 1068px) {
  .hero-ingredients__container {
    max-width: 799px;
  }

  .hero-ingredients__image {
    width: 361px;
    height: 504px;
    background-image: url(../images/product/cupcake_hero_product_page_large.png);
    background-size: 361px 504px;
  }
}

/* Product Simple and Deluxe Sections */
.simple-and-deluxe-product {
  text-align: center;
  margin-bottom: 22px;
}

.simple-and-deluxe-product__container {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 71px;
  padding-top: 43px;
}

.simple-and-deluxe-product__text {
  max-width: 300px;
}

.simple-and-deluxe-product__title,
.simple-and-deluxe-product__info {
  margin-bottom: 33px;
}

.product-simple__image__container {
  margin-top: 63px;
}

.product-simple__image {
  width: 269px;
  height: 271px;
  background-image: url(../images/product/cupcake_simple_small.png);
  background-size: 269px 271px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .simple-and-deluxe-product__text {
    max-width: 427px;
  }
}

@media screen and (min-width: 768px) {
  .simple-and-deluxe-product {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 29px;
  }

  .simple-and-deluxe-product__container {
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1068px) {
  .simple-and-deluxe-product__container {
    max-width: 1302px;
  }

  .simple-and-deluxe-product__text {
    max-width: 529px;
  }

  .simple-and-deluxe-product__title {
    max-width: 427px;
    margin-left: auto;
    margin-right: auto;
  }

  .simple-and-deluxe-product__title,
  .simple-and-deluxe-product__info {
    margin-bottom: 37px;
  }

  .product-simple__image__container {
    margin-top: 41px;
  }

  .product-simple__image {
    width: 296px;
    height: 307px;
    background-image: url(../images/product/cupcake_simple_large.png);
    background-size: 296px 307px;
  }
}

/* Premium and Super Premium Sections */
.premium-and-super-premium {
  text-align: center;
}

.premium-and-super-premium__item {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-top: 73px;
  padding-bottom: 73px;
  margin-bottom: 22px;
}

.premium-and-super-premium__text {
  max-width: 300px;
}

.premium-and-super-premium__title,
.premium-and-super-premium .subtitle {
  margin-bottom: 15px;
}

.premium__image__container {
  margin-top: 44px;
}

.premium__image {
  width: 170px;
  height: 284px;
  background-image: url(../images/product/cupcake_premium_small.png);
  background-size: 170px 284px;
  background-repeat: no-repeat;
}

.super-premium__image__container {
  margin-top: 68px;
}

.super-premium__image {
  width: 314px;
  height: 258px;
  background-image: url(../images/product/cupcake_super_premium_small.png);
  background-size: 314px 258px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .premium-and-super-premium__text {
    max-width: 409px;
  }
}

@media screen and (min-width: 768px) {
  .premium-and-super-premium {
    padding-left: 20px;
    padding-right: 20px;
  }

  .premium-and-super-premium__container {
    max-width: 776px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
  }

  .premium-and-super-premium__item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .premium-and-super-premium__text {
    max-width: 300px;
  }

  .super-premium {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1068px) {
  .premium-and-super-premium__container {
    max-width: 1302px;
  }

  .super-premium {
    justify-content: initial;
  }

  .premium-and-super-premium__item {
    padding-bottom: initial;
  }

  .premium-and-super-premium__text {
    max-width: 476px;
  }

  .premium__image {
    width: 178px;
    height: 225px;
    background-image: url(../images/product/cupcake_premium_large.png);
    background-size: 178px 225px;
  }

  .super-premium__image {
    width: 314px;
    height: 227px;
    background-image: url(../images/product/cupcake_super_premium_large.png);
    background-size: 314px 227px;
  }
}
