<section class="customer-respect">
  <div class="customer-respect__container sections-flex">
    <div class="customer-respect__text">
      <p class="customer-respect__above-title">A sua loja de CupCakes</p>
      <h2 class="customer-respect__title">
        Respeito ao cliente. Em primeiro lugar.
      </h2>
      <p class="customer-respect__info">
        Fazemos questão de ouvir os clientes. Não importa a situação.
      </p>
      <a href="" class="btn btn--primary">Contate-nos</a>
    </div>
    <div class="customer-respect__image__container">
      <figure class="customer-respect__image"></figure>
    </div>
  </div>
</section>
