<section class="hero-value">
  <div class="hero-value__container sections-flex">
    <div class="hero-value__image__container">
      <figure class="hero-value__image"></figure>
    </div>
    <div class="section__text">
      <h2 class="section__title">Carinho desde a produção, até a entrega</h2>
      <p class="subtitle">Esse é um de nossos valores.</p>
      <p class="section__info">
        Aqui na CakeIt! valorizamos muito o carinho e atenção ao cliente
      </p>
      <a href="" class="btn btn--primary">Encomendar</a>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
  </div>
</section>
