<section class="right-choice">
  <div class="right-choice__container">
    <div class="right-choice__title__container">
      <h2 class="right-choice__title">Somos a escolha certa.</h2>
    </div>
    <div class="right-choice__buy-with-us sections-flex">
      <div class="section__text">
        <h2 class="section__title">Pode comprar com a gente!</h2>
        <p class="subtitle">Aqui você encontra diversas opções de Cupcake!</p>
        <p class="section__info">
          Agora que você já nos conhece, não há mais dúvidas de que somos a
          escolha certa né?!
        </p>
        <a href="" class="btn btn--primary">Produtos</a>
        <a href="" class="know-more">Saiba mais ></a>
      </div>
      <div class="right-choice__image__container">
        <figure class="right-choice__image"></figure>
      </div>
    </div>
  </div>
</section>
