<footer class="footer">
  <div class="footer__container grid">
    <div class="footer__item">
      <a href="index.html">
        <div class="logo">
          <p class="logo__text-container">
            <span class="logo__first">Cake</span>It!
          </p>
        </div>
      </a>
      <p class="footer__item__title">Descubra mais</p>
      <ul class="footer__item__list">
        <li class="footer__item__list__item">
          <a href="index.html">Home</a>
        </li>
        <li class="footer__item__list__item">
          <a href="sobre.html">Sobre</a>
        </li>
        <li class="footer__item__list__item">
          <a href="produto.html">Produto</a>
        </li>
        <li class="footer__item__list__item">
          <a href="contato.html">Contato</a>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <p class="footer__item__title">Nossos Produtos</p>
      <ul class="footer__item__list">
        <li class="footer__item__list__item">
          <a href="produto.html#simple-cupcake">Cupcake Simples</a>
        </li>
        <li class="footer__item__list__item">
          <a href="produto.html#super-and-super-premium-cupcakes"
            >Cupcake Premium</a
          >
        </li>
        <li class="footer__item__list__item">
          <a href="produto.html#super-and-super-premium-cupcakes"
            >Cupcake Super Premium</a
          >
        </li>
        <li class="footer__item__list__item">
          <a href="produto.html#deluxe-cupcake">Cupcake Deluxe</a>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <p class="footer__item__title">Contato</p>
      <ul class="footer__item__list">
        <li class="footer__item__list__item">
          <a href="contato.html#thanks-and-why-to-contact"
            >O porquê nos contatar</a
          >
        </li>
        <li class="footer__item__list__item">
          <a href="contato.html#contact-us-section">Formulário</a>
        </li>
        <li class="footer__item__list__item">
          <a href="contato.html#answer-speed">Tempo de Resposta</a>
        </li>
        <li class="footer__item__list__item">
          <a href="contato.html#thanks-and-why-to-contact">Agradecimentos</a>
        </li>
      </ul>
    </div>
    <div class="footer__item">
      <p class="footer__item__title">Sobre Nós</p>
      <ul class="footer__item__list">
        <li class="footer__item__list__item">
          <a href="sobre.html#values">Uma empresa de valores</a>
        </li>
        <li class="footer__item__list__item">
          <a href="sobre.html#our-mission">A nossa missão</a>
        </li>
        <li class="footer__item__list__item">
          <a href="sobre.html#our-vision">A nossa visão</a>
        </li>
        <li class="footer__item__list__item">
          <a href="sobre.html#customer-respect-section"
            >Respeito ao consumidor</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__item footer__copyright__container">
      <p class="footer__copyright">Copyright © Gustavo Amaro</p>
    </div>
  </div>
</footer>
