<section class="square-section try-them-out">
  <div class="square-section__container flex">
    <div class="square-section__text">
      <h2 class="square-section__title">Experimente os nossos cupcakes!</h2>
      <p class="square-section__info">
        Você pode nos contatar e fazer o seu pedido! Pode confiar, eles são
        deliciosos!
      </p>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
    <div class="square-section__image__container">
      <figure class="try-them-out__image"></figure>
    </div>
  </div>
</section>
