<section class="cupcake-showcase" id="cupcake-scrollable">
  <div class="cupcake-showcase__container">
    <div
      class="cupcake-showcase__button cupcake-showcase__button--left flex"
      id="button-left"
    >
      <div class="cupcake-showcase__button__container">
        <span
          class="
            cupcake-showcase__button__arrow
            cupcake-showcase__button__arrow--left
          "
          ><</span
        >
      </div>
    </div>
    <a href="">
      <div class="cupcake-showcase__item">
        <figure class="cupcake-showcase__simple"></figure>
        <p class="cupcake-showcase__text">Cupcake Simples</p>
      </div>
    </a>
    <a href="">
      <div class="cupcake-showcase__item">
        <figure class="cupcake-showcase__premium"></figure>
        <p class="cupcake-showcase__text">Cupcake Premium</p>
      </div>
    </a>
    <a href="">
      <div class="cupcake-showcase__item">
        <figure class="cupcake-showcase__super-premium"></figure>
        <p class="cupcake-showcase__text">Cupcake Super Premium</p>
      </div>
    </a>
    <a href="" class="cupcake-showcase__item--no-margin">
      <div class="cupcake-showcase__item">
        <figure class="cupcake-showcase__deluxe"></figure>
        <p class="cupcake-showcase__text cupcake-showcase__text__deluxe">
          Cupcake Deluxe
        </p>
      </div>
    </a>
    <div class="cupcake-showcase__button flex" id="button-right">
      <div class="cupcake-showcase__button__container">
        <span class="cupcake-showcase__button__arrow">></span>
      </div>
    </div>
  </div>
</section>
