<section class="hero-every-kind">
  <div class="hero-every-kind__container sections-flex">
    <div class="hero__image__container">
      <figure class="hero__image"></figure>
    </div>
    <div class="section__text">
      <h2 class="section__title">CupCakes de todos os tipos.</h2>
      <p class="subtitle">Os melhores CupCakes para você.</p>
      <p class="section__info">
        Um CupCake sai a partir de&nbsp;&nbsp;&nbsp;&nbsp; apenas R$3,50.
      </p>
      <a href="" class="btn btn--primary">Comprar</a>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
  </div>
</section>
