<section class="subscription">
  <div class="subscription__container sections-flex">
    <div class="subscription__image__container">
      <figure class="subscription__image"></figure>
    </div>
    <div class="section__text">
      <h2 class="section__title">CupCakes na sua casa o tempo inteiro.</h2>
      <p class="subtitle">O nosso serviço de assinatura está aqui para você!</p>
      <p class="section__info">
        Você pode assinar, e todo mês uma caixa cheia de cupcakes chega para
        você!
      </p>
      <a href="" class="btn btn--primary">Assinar</a>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
  </div>
</section>
