<section class="hero-send-a-message">
  <div class="hero-send-a-message__container sections-flex">
    <div class="hero-send-a-message__text">
      <h2 class="hero-send-a-message__title">Nos mande uma mensagem!</h2>
      <p class="subtitle">Pode mandar uma mensagem!</p>
      <p class="hero-send-a-message__info">
        A nossa equipe irá se certificar de que uma resposta seja retornada em
        no máximo 48 horas.
      </p>
      <a href="" class="btn btn--primary">Formulário</a>
    </div>
    <div class="hero-send-a-message__image__container">
      <figure class="hero-send-a-message__image"></figure>
    </div>
  </div>
</section>
