<section class="simple-and-deluxe-product">
  <div class="simple-and-deluxe-product__container flex">
    <div class="simple-and-deluxe-product__text">
      <h2 class="simple-and-deluxe-product__title">
        CupCake Deluxe. O nosso top tier.
      </h2>
      <p class="simple-and-deluxe-product__info">
        Os CupCakes deste nível são os CupCakes mais premium e deluxe da CakeIt!
        Nele você encontra todos os tipos de adicionais disponíveis, que vão
        desde coberturas de fruta natural, até doces exóticos, além de docinhos,
        frutas, cookies especiais e coberturas para colocar em seu CupCake
        Deluxe.
      </p>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
    <div class="product-deluxe__image__container">
      <figure class="product-deluxe__image"></figure>
    </div>
  </div>
</section>
