<section class="hero-ingredients">
  <div class="hero-ingredients__container sections-flex">
    <div class="hero-ingredients__text flex">
      <div class="hero-ingredients__title-image__container">
        <figure class="hero-ingredients__title-image"></figure>
      </div>
      <div class="hero-ingredients__text-other flex">
        <p class="subtitle">
          Nossos CupCakes são feitos a base de diversos ingredientes.
        </p>
        <p class="hero-ingredients__info">
          Abaixo você encontrará um pouco mais sobre nossos CupCakes.
        </p>
        <a href="" class="btn btn--primary">Comprar</a>
        <a href="" class="know-more">Saiba mais ></a>
      </div>
    </div>
    <div class="hero-ingredients__image__container">
      <figure class="hero-ingredients__image"></figure>
    </div>
  </div>
</section>
