<section class="premium-and-super-premium">
  <div class="premium-and-super-premium__container grid">
    <div class="flex premium-and-super-premium__item premium">
      <div class="premium-and-super-premium__text">
        <h2 class="premium-and-super-premium__title">CupCake Premium</h2>
        <p class="subtitle">
          Um dos clássicos da CakeIt! Esse é o que recomendamos.
        </p>
        <p class="premium-and-super-premium__info">
          Este CupCake recebe uma bela camada dupla de cobertura chantilly de
          qualquer sabor desejado, mais uma fruta ou docinho no topo, junto à
          massa de diversos sabores, que vão desde baunilha ou chocolate, até de
          morango.
        </p>
      </div>
      <div class="premium__image__container">
        <figure class="premium__image"></figure>
      </div>
    </div>
    <div class="flex premium-and-super-premium__item super-premium">
      <div class="premium-and-super-premium__text">
        <h2 class="premium-and-super-premium__title">CupCake Super Premium</h2>
        <p class="subtitle">Um nível acima. Um CupCake muito especial.</p>
        <p class="premium-and-super-premium__info">
          O CupCake Super Premium da CakeIt! acompanha um docinho, fruta, ou
          cookie em cima de sua deliciosa cobertura super premium, feita com
          ingredientes naturais, no caso das de fruta.
        </p>
      </div>
      <div class="super-premium__image__container">
        <figure class="super-premium__image"></figure>
      </div>
    </div>
  </div>
</section>
