<section class="simple-and-deluxe-product">
  <div class="simple-and-deluxe-product__container flex">
    <div class="simple-and-deluxe-product__text">
      <h2 class="simple-and-deluxe-product__title">
        CupCake Simples. Uma&nbsp; de suas opções
      </h2>
      <p class="simple-and-deluxe-product__info">
        Esta opção de CupCake é uma das melhores para as pessoas que preferem
        algo mais simples, e que não precisam de muito em um CupCake
      </p>
      <a href="" class="know-more">Saiba mais ></a>
    </div>
    <div class="product-simple__image__container">
      <figure class="product-simple__image"></figure>
    </div>
  </div>
</section>
